body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.ytimg.com/vi/-MKapbz0GIo/maxresdefault.jpg");  
  background-size: 200%;
  margin: 12px;
}